@import './variables';

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    text-align: center;
    @include padding2;
    background-color: $sage;
}
main {
    @include padding2;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: $off-white;
    #container {
        width: 90vw;
        max-width: 500px;
        @include padding2;
        background-color: $mint;
    }
    #form {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
}
footer {
    text-align: center;
    @include padding2;
    background-color: $sage;
}