@import './variables';

input {
    border: 2px solid $pink;
    border-radius: 10px;
    margin: 0.5em;
}
#submit, #delete {
    padding: 0.2em 0.5em;
}
#delete {
    background-color: rgba($color: $pink, $alpha: 0.4);
}