@import './variables';

ul {
    list-style: none;
    text-align: center;
    li {
        margin: 0.8em 2.3em 0.8em 0;
        padding: 0 0.5em;
        border: 2px dotted $pink;
    }
    li:hover {
        cursor: pointer;
    }
    p {
        display: inline-block;
        font-family: "Indie Flower", cursive;
        font-size: 1.5em;
    }
    i {
        display: inline-block;
        margin-left: 1em;
    }
}